/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.layoutNav {
    display: flex;
    background-color: #948979;
    color: #222831;
    height: 50px;
    width: 100%;
    justify-content: start;
    border-bottom: 3px solid #DFD0B8;
}

.navbar-title {
    display: flex;
    justify-content: start;
    padding-left: 25px;
}

.navItems {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    width: 25%;
    font-size: 20px;
    margin: 0;
}

.footer {
    text-align: center;
    background-color: #948979;
    color: #222831;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    border-top: 3px solid #DFD0B8;
}
