<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BaseBallStatSearch</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/BaseBallStatSearch.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="layoutNav">
            <h1 class="navbar-title">BaseballStatSearch</h1>
            <ul class="navItems">
                <li><a class="navLinks" asp-area="" asp-page="/Index">Home</a></li>
                <li><a class="navLinks" asp-area="" asp-page="/Players">Players</a></li>
                <li><a class="navLinks" asp-area="" asp-page="/Teams">Teams</a></li>
                <li><a class="navLinks" asp-area="" asp-page="/Ballparks">Ballparks</a></li>
            </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2026 - BaseBallStatSearch
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
